body{
    margin:0;
    padding:0;
    background-image: url("images/hero-image1.jpg");
    background-repeat: no-repeat;
    background-color: white;
    width: 100%;
    height:100%;
    z-index: -99;
    font-family: 'PT Sans Caption', sans-serif;
    overflow-x: hidden;
}
.justify-content-center{
    justify-content: center;
}
.text-center{
    text-align: center;
}
.hero-wrapper{
    background-color: rgba(0, 0, 0, 0.45);
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    right: 0;
    z-index: -9;   
}
.btn{
    padding: 6px 20px;
    border-radius: 5px;
    font-size: 22px;
    background-color: #d0af22;
    color: black;
    border-style: none; 
}
/*------Nav-1---*/

.nav-1{
    background-color: black;
    color: white;
    padding: 5px 0;
}
.nav-1 ul{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0;
    margin:0;
    font-size: 16px;
}
.nav-1 ul li{
    padding:0 20px;
}
nav ul li{
    list-style: none;
}
.socials p{
    display: inline;
}
.nav-1 i{
    padding:0 7px;
}
.fa-instagram{
    color:#833AB4;
}
.fa-facebook{
    color:#3b5998;
}
.fa-twitter{
    color:#00acee;
}
.contact-nav{
    text-align: end;
    font-size: 16px;
    color: white;
    padding-top: 15px;
}
.contact-nav p{
    display: inline;
    padding-right: 20px;
}
.contact-nav a{
    color: white;
    text-decoration: none;
}
/*------Nav-2----*/
.nav-2 {
    margin-top:15px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-right: 200px;
}
.logo, .nav-2 nav{
    animation: nav 3s;

}
.nav-2 ul {
    display: flex;
    flex-direction: row;
}
.nav-2 .logo h1{
    margin:0;
    color: white;
    font-family: 'Parisienne', cursive;
}
.logo-list{
    text-align: left;
}
.nav-2 nav{
    margin-left: 300px;
}

.nav-links{
    text-decoration: none;
    font-size: 20px;
    padding: 0 30px;
    color: white;
}
/*----Hero Text----*/
.category-box hr{
    background-color: #ffd628;
    border: 1px solid #ffd628;
    width: 100px;
    border-color: #ffd628;
}
.hero-section{
    margin-top:200px;
    animation: heroRow 3s;
}
.hero-section h3{
    font-size: 70px;
    color: white;
    font-family: 'Parisienne', cursive;
}
.hero-section h2{
    font-size:50px;
    color: white;
    font-weight: 100;
}
.category-box h3{
    font-size: 30px;
    margin: 15px 0;
}
.category-box{
    padding-top: 25px;
}
.hero-section .container > h3{
    border: 5px solid #ffd628;
    margin: auto;
    width: 20%;
}
/*-----Specials----*/
.specials-heading{
    margin-top: 170px;
    margin-bottom: 60px;
    font-family: 'parisienne', cursive;
    font-size: 35px;
}
.specials-section{
    display:flex;
    flex-direction: row;
    justify-content: space-evenly;
}
.card{
    width:16%;
    background-color: white;
}
.card-image img{
   max-width: 100%;
    max-height: 100%; 
}
.card-row p{
    margin: 0;
    font-size: 14px;
    padding: 10px 20px;
}
.card-row h4{
    margin: 10px;
}





/*----Hover Effects----*/
.nav-links:hover{
    border-bottom: 4px solid white;
    color:#ffd628;
    cursor: pointer;
}
.btn:hover{
    background-color: #ffe67d;
    cursor: pointer;
}
/*------Animation-----*/
@keyframes heroRow {
    from{
        opacity: 0;
        transform: translateY(200px);
    }
    to{
        opacity: 1;
        transform: translateY(0);
    }
}
@keyframes nav {
    from{
        opacity: 0;
        transform: translateX(-100px);
    }

    to{
        opacity: 1;
        transform: translateX(0);
    }
}