body{
    margin:0;
    padding:0;
    background-image: url("images/hero-image.jpg");
    background-color: white;
    width: 100%;
    z-index: -99;
}
.justify-content-center{
    justify-content: center;
}
.hero-wrapper{
    background-color: rgba(0, 0, 0, 0.21);
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    right: 0;
    z-index: -9;   
}
/*------Nav-1---*/

.nav-1{
    background-color: black;
    color: white;
    padding: 5px 0;
}
.nav-1 ul{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0;
    margin:0;
    font-size: 20px;
}
.nav-1 ul li{
    padding:0 20px;
}
nav ul li{
    list-style: none;
}
.socials p{
    display: inline;
}
.nav-1 i{
    padding:0 7px;
}
.fa-instagram{
    color:#833AB4;
}
.fa-facebook{
    color:#3b5998;
}
.fa-twitter{
    color:#00acee;
}
/*------Nav-2----*/
.nav-2 {
    margin-top:15px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-right: 200px;
}
.nav-2 ul {
    display: flex;
    flex-direction: row;
}
.nav-2 .logo h1{
    margin:0;
    color: white;
}
.logo-list{
    text-align: left;
}
.nav-2 nav{
    margin-left: 300px;
}

.nav-links{
    text-decoration: none;
    font-size: 20px;
    padding: 20px;
    color: white;
}
/*----Hero Text----*/